<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_num" data-rule="required" class="form-control" name="row[order_num]" type="text" value="{$row.order_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/index" data-field="mobile" data-primary-key="user_id" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_id" data-rule="required" data-source="goods/index" data-field="title" data-primary-key="goods_id" class="form-control selectpage" name="row[goods_id]" type="text" value="{$row.goods_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Artist_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-artist_id" data-rule="required" data-source="artist/index" data-field="name" data-primary-key="artist_id" class="form-control selectpage" name="row[artist_id]" type="text" value="{$row.artist_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Receive_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_name" data-rule="required" class="form-control" name="row[receive_name]" type="text" value="{$row.receive_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Receive_mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_mobile" data-rule="required" class="form-control" name="row[receive_mobile]" type="number" value="{$row.receive_mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Receive_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_address" data-rule="required" class="form-control" name="row[receive_address]" type="text" value="{$row.receive_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-pay_type" data-rule="required" class="form-control selectpicker" name="row[pay_type]">
                {foreach name="payTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.pay_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_trade_no" data-rule="required" class="form-control" name="row[out_trade_no]" type="text" value="{$row.out_trade_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
